#back-link-container{
    margin-top: 10px;
}
.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/wall02.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
<<<<<<< HEAD
}
=======
}
>>>>>>> a2bb80266b6355b597ffdd8d78472e0362c229b3
